<!DOCTYPE html>
<html ng-app="gemStore">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>

<!--Step 1: Create store module-->

<!--Step 2: Create StoreController and pull it into your html using a directive-->
<body class="list-group" ng-controller="StoreController as store">
<header>
    <h1 class="text-center">Gem Store</h1>
    <h2 class="text-center">Using Angular</h2>
</header>

<!--Step 3: Loop over our products (the gems)-->
<div class="list-group-item" ng-repeat="product in store.products">
    <h3>
        <!--Step 4: Use an expression to insert the product name-->
        {{product.name}}

        <!--Step 5: Use an expression to insert the product price-->
        <!--Bonus: Use pipe filter to convert our price into a currency format-->
        <em class="pull-right">{{product.price | currency}}</em>
    </h3>


    <section ng-show="product.images.length" ng-controller="GalleryController as gallery">
        <img ng-src="{{product.images[gallery.current]}}" />
        <ul class="list-inline thumbs">
            <li class="thumbnail" ng-repeat="image in product.images">
                <img ng-src="{{image}}" />
            </li>
        </ul>
    </section>

<!--Step 6: Create TabController and pull into html using directive-->
    <section class="tab" ng-controller="TabController as tab">
        <ul class="nav nav-pills">
            <!--Step 8: Use directive that'll set the list item's class to active and then use an expression that'll access the-->
            <!--isSet method in your TabController to set the tab to it's current value. Do this for each li-->
            <li ng-class="{active: tab.isSet(1)}">
                <!--Step 7: Use a directive that'll set the tab to it's current state (tab you clicked on) by accessing the -->
                <!--setTab method you created in your TabController. Do this for each link-->
                <a href ng-click="tab.setTab(1)">Description</a></li>
            <li ng-class="{active: tab.isSet(2)}">
                <a href ng-click="tab.setTab(2)">Specs</a></li>
            <li ng-class="{active: tab.isSet(3)}">
                <a href ng-click="tab.setTab(3)">Reviews</a></li>
        </ul>
        <!--Step 10: Use a directive that'll show the div which directly relates to the tab you selected. This will be-->
        <!--similar to the way you set the active tab to active-->
        <div ng-show="tab.isSet(1)">
            <h4>Description</h4>
            <!--Step 9: Use an expression to get the products description and put it in the Description div. Do the same-->
            <!--for each div that follows-->
            <blockquote>{{product.description}}</blockquote>
        </div>
        <div ng-show="tab.isSet(2)">
            <h4>Specs</h4>
            <blockquote>Shine: {{product.shine}}</blockquote>
        </div>
        <div ng-show="tab.isSet(3)">
            <h4>Reviews</h4>
            <blockquote></blockquote>
        </div>
    </section>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>